<div class="container">
  <div class="jumbotron">
    <h1> activityOverload</h1>
    <h2>..tracking App activity better tham </h2>
    <a href="/view" class="btn-lg btn-success"> Signup</a>
  </div>
</div>
